.table {
    font-size: 15px;
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}
.table tr  {
    border-bottom: 1px solid #5c5c5c;
}
/* .table > tbody > tr th {
    padding-left: 25px;
} */
.table .people {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 200;
}
/* .table tr {
    display: flex;
} */
.starred {
    padding-right: 10px;
}
.starred::before {
    content: "⭐";
    position: relative;
}